
body{
    color: whitesmoke;
    background-image: url("./assets/home/background-home-desktop.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 100vh;
    
}


.background-home
{
    width: 200px;
    height: 200px;
}